body {
    font-family: Arial, sans-serif;
    background-color: #918994;
    color: #292727;
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#menu {
    list-style: none;
    padding: 0;
}

#menu li {
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: #6a4e77;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#menu a:hover {
    background-color: #9b7ca4;
    color: #ffffff;
}
